<p>Event1</p>

<p>Id:{{event.id}}</p>

<p>Name: {{event.name}}</p>

<p>Location: {{event.location}}</p>

<p>Description: {{event.description}}</p>

<p>startDate: {{event.startDate.toLocaleDateString("ro-RO")}}</p>

<p>endDate: {{event.endDate.toLocaleDateString("ro-RO")}}</p>




